{% extends 'menuDirigente.html' %}

{% block footer %}
	<h1>Cambiar Contraseña ⁞ {{nombreB}}</b></h1>
	<a class="btn btn-default" href="{% url 'menu' %}">Volver</a>
	<br></br>
{% endblock %}

{% block content %}

<blockquote class="blockquote text-center">
  <p class="mb-0">Una ves cambies tu password, se desconectara tu usuario. Vuelve ingresar para confirmar la nueva password</p>
  <footer class="blockquote-footer">¡Importante! <cite title="Source Title"> </cite></footer>
</blockquote>

 <form method ="post">
	{% csrf_token %}
	{{ form }}
	<button type ="submit" class="btn btn-primary">Realizar Cambio</button>
</form>
<br></br>

{% endblock %}